.msg-container {
  width: 100%;
  display: flex;
}

.msg-container.right {
  justify-content: flex-end
}

.msg-container.left {
  justify-content: flex-start
}

.msg-container p {
  max-width: 50%;
  padding: 10px;
  text-align: left;
}

.msg-container.right p { border-radius: 15px 15px 0px 15px;}
.msg-container.left p { border-radius: 15px 15px 15px 0px; }
