.form-check {
    line-break: anywhere;
    word-break: break-all;
    width: 86px;
}

.form-check input[type="radio"] {
    display: none;
}

.voice-pic { width: 80px; }

input[type="radio"]:checked + label {
    border: 3px solid green;
}
